:root {
    --background-color: #f4f4f4;
    --box-color: #ffffff;
    --text-color: #353535;
}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

body.dark-mode {
    --background-color: #1f2937;
    --box-color: #273549;
    --text-color: #ffffff;
}

header {
    background-color: #6943ff;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

main {
    background-color: var(--background-color);
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

main .box {
    background-color: var(--box-color);
    color: var(--text-color)
}

main h1 {
    color: #6943ff;
}